@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..300&display=swap');

:root {
    --bgcolor: #FCFCFF;
}

body {
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;
    background-color: var(--bgcolor);
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: 200;
}

a{
    text-decoration: none;
    color: inherit;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

/* elements */
.button {
    background-color: lightblue;
    width: fit-content;
    padding: 8px 40px;
    border-radius: 10px;
}

.button:hover {
    background-color: rgb(141, 185, 200);
}

.windows {
    cursor: zoom-in;
    background-color: white;
    border-radius: 4px;
    width: 20vw;
    overflow: hidden;
    height: fit-content;
}

.windowspair {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
}

.windowstitle {
    margin: 4px;
    padding-left: 12px;
    border-left: 1px solid gray;
}

.windowspic {
    background-color: gray;
    height: 160px;
}

.target {
    opacity: 0;
    cursor: default;
    user-select: none;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.documents {
    padding: 8px 12px;
    height: 240px;
}

.bottombar {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.barbutton {
    margin: 8px;
}

/* structure */
.flexwrap {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.buttonwrap {
    width: 60%; 
    display: flex; 
    justify-content: space-between;
}

.fullscreen {
    position: absolute; 
    top:0; 
    left:0; 
    width: 100%;
}

/* page */
.archive {
    background-color: lightgray;
    overflow: hidden;
}